Source: hyperscan
Priority: optional
Maintainer: Ivan Koveshnikov <ivan.koveshnikov@gcore.com>
Build-Depends: cmake (>=2.8.11),
               debhelper-compat (=12),
               libboost-dev (>=1.57),
               libpcap-dev,
               pkg-config,
               po-debconf,
               python3,
               ragel (>=6.9)
Standards-Version: 4.5.1
Section: libs
Rules-Requires-Root: no
Homepage: <https://github.com/G-Core/linux-regex-module>
Vcs-Git: <https://github.com/G-Core/linux-regex-module.git>
Vcs-Browser: <https://github.com/G-Core/linux-regex-module>

Package: libhyperscan-dev
Section: libdevel
Architecture: any-amd64 i386 kfreebsd-i386
Depends: ${misc:Depends}
Description: Development files for the Hyperscan library
 This package contains development libraries, header files and documentation for
 the regular expression matching library libhyperscan. You can either use the
 supplied shared or static library.
 .
 libhyperscan only runs on processors with at least SSSE3 support.
